$basic_color: #0db886;
$link_color: #004e89;
$button_color: #9dd1f1;
$bg_color:#edf1f2;
$title_color: #aaa;
$font_stack: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI";
$widget_color:#3bafda;
$content_color:#21435f;
